<div class="pt-[32px] lg:px-[14px]">
    <h2 class="neueSwift text-[43px] capitalize pb-[20px] text-[#030303]">Edition Details</h2>
    <div class="lg:grid lg:grid-cols-11 lg:gap-5">
      {% if product.metafields.custom.dimensions.value != blank %}
        <div class="lg:col-span-6">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Dimensions</h4>
          {% assign details_dimensions = product.metafields.custom.dimensions.value %}
          {% assign dimensions = details_dimensions | split: "." %}
          <p class="sfMono text-[12px]">{{ dimensions | slice: 0, 1 }}</p>
          <p class="sfMono text-[12px]">{{ dimensions | slice: 1, 1 }}</p>
          <p class="sfMono text-[12px] mb-[20px]">{{ dimensions | slice: 2, 1 }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.release_date.value != blank %}
        <div class="lg:col-span-5 hidden lg:block">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Release Date</h4>
          <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.release_date.value | date: "%B %d, %Y" }}</p>
        </div>
        {% else %}
        {% if product.metafields.custom.artist.value.name != blank %}
          <div class="lg:col-span-5 hidden lg:block">
            <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Artist</h4>
            <div class="flex gap-3 items-center">
              {% if product.metafields.custom.artist.value.photo != null %}
                <img src="{{ product.metafields.custom.artist.value.photo | file_url }}" height="50" width="50" class="rounded-full w-[50px] h-[50px] object-cover">
              {% endif %}
              <p class="sfMono text-[12px]">{{ product.metafields.custom.artist.value.name }}</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
      {% if product.metafields.custom.dimensions.value %}
        <div class="lg:col-span-6">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">{{ product.metafields.custom.medium.value }}</h4>
          <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.dimensions.value }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.artist.value.name != blank and product.metafields.custom.release_date.value != blank %}
        <div class="lg:col-span-5 hidden lg:block">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Artist</h4>
          <div class="flex gap-3 items-center">
            {% if product.metafields.custom.artist.value.photo != null %}
              <img src="{{ product.metafields.custom.artist.value.photo | file_url }}" height="50" width="50" class="rounded-full w-[50px] h-[50px] object-cover">
            {% endif %}
            <p class="sfMono text-[12px]">{{ product.metafields.custom.artist.value.name }}</p>
          </div>
        </div>
      {% endif %}
      {% if product.metafields.custom.finishing.value != blank %}
        <div class="lg:col-span-6">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Finishing</h4>
          <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.finishing.value }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.framing.value != blank %}
        <div class="lg:col-span-6">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Framing</h4>
          <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.framing.value }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.authentication.value != blank %}
        <div class="lg:col-span-6">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Authentication</h4>
          <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.authentication.value }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.certificateofauthenticity.value != blank %}
        <div class="lg:col-span-6">
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Certificate Of Authenticity</h4>
          <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.certificateofauthenticity.value }}</p>
        </div> 
      {% endif %}
      <div class="lg:hidden">
        {% if product.metafields.custom.release_date.value != blank %}
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Release Date</h4>
          <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.edition_details.value.release_date | date:  "%B %d, %Y" }}</p>
        {% endif %}
        {% if product.metafields.custom.artist.value.name != blank %}
          <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Artist</h4>
          <div class="flex gap-3 items-center">
            {% if product.metafields.custom.artist.value.photo != null %}
              <img src="{{ product.metafields.custom.artist.value.photo | file_url }}" height="50" width="50" class="rounded-full w-[50px] h-[50px] object-cover">
            {% endif %}
            <p class="sfMono text-[12px]">{{ product.metafields.custom.artist.value.name }}</p>
          </div>
        {% endif %}
      </div>
    </div>
</div>