<div class="pt-[32px] lg:px-[14px]">
    <h2 class="neueSwift text-[43px] capitalize pb-[20px] text-[#030303]">Edition Details</h2>
    <div class="lg:grid {% if livestreamingOn == 'on' %}lg:grid-cols-2 lg:gap-[24px]{% else %}lg:grid-cols-11 lg:gap-5{% endif %}">
      <div class="{% if livestreamingOn == 'on' %}{% else %}lg:col-span-6{% endif %}">
        <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Dimensions</h4>
        {% assign details_dimensions = product.metafields.custom.edition_details.value.dimensions %}
        {% assign dimensions = details_dimensions | split: "." %}
        <p class="sfMono text-[12px]">{{ dimensions | slice: 0, 1 }}</p>
        <p class="sfMono text-[12px]">{{ dimensions | slice: 1, 1 }}</p>
        <p class="sfMono text-[12px] mb-[20px]">{{ dimensions | slice: 2, 1 }}</p>
      </div>
      <div class="{% if livestreamingOn == 'on' %}{% else %}lg:col-span-5{% endif %} hidden lg:block">
        <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Release Date</h4>
        <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.edition_details.value.release_date | date: "%B %d, %Y" }}</p>
      </div>
      <div class="{% if livestreamingOn == 'on' %}{% else %}lg:col-span-6{% endif %}">
        <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Medium</h4>
        <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.edition_details.value.sizes }}</p>
      </div>
      <div class="{% if livestreamingOn == 'on' %}{% else %}lg:col-span-5{% endif %} hidden lg:block">
        <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Artist</h4>
        <div class="flex gap-3 items-center">
          <img src="{{ product.metafields.custom.artist.value.photo | file_url }}" height="50" width="50" class="rounded-full">
          <p class="sfMono text-[12px]">{{ product.metafields.custom.artist.value.name }}</p>
        </div>
      </div>
      <div class="{% if livestreamingOn == 'on' %}{% else %}lg:col-span-6{% endif %}">
        <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Finishing</h4>
        <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.edition_details.value.finishing }}</p>
      </div>
      <div class="lg:hidden">
        <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Release Date</h4>
        <p class="sfMono text-[12px] mb-[20px]">{{ product.metafields.custom.edition_details.value.release_date | date:  "%B %d, %Y" }}</p>
        <h4 class="sfMono text-[14px] capitalize mb-[8px] text-[#030303] font-bold">Artist</h4>
        <div class="flex gap-3 items-center">
          <img src="{{ product.metafields.custom.artist.value.photo | file_url }}" height="50" width="50" class="rounded-full">
          <p class="sfMono text-[12px]">{{ product.metafields.custom.artist.value.name }}</p>
        </div>
      </div>
    </div>
</div>