{% liquid 
  assign show-bid = product.metafields.custom.activate_bid.value
  assign totalProductsQuantity = 0
  for variant in product.variants
    for option in variant.options
        if option.name == 'Original'
            assign original = variant.price
        endif
    endfor
    assign totalProductsQuantity = totalProductsQuantity | plus: variant.inventory_quantity
  endfor
  assign current_date = 'now' | date: '%s'
  assign close_timer = product.metafields.custom.livestreaming.value.end_time | date: '%s'
  assign close_date = product.metafields.custom.livestreaming.value.end_time 
%}
{% comment %}THE EMBED AGORA LIVESTREAMING SHOULD BE BETWEEN THIS COMMENTS{% endcomment %}
<div class="relative h-[calc(100vh-84.59px)] lg:h-[calc(100vh-86.33px)]">
    <div class="relative h-full">
        {% comment %}HERE SHOULD BE THE LIVESTREAMING VIDEO{% endcomment %}
        <img src="{{ 'live-placeholder.jpg' | asset_url }}" alt="" width="456" height="688" class="w-full h-full object-cover">
        {% comment %}UNTIL HERE{% endcomment %}
        <div class="absolute top-0 h-full flex flex-col justify-between w-full">
            <div class="relative top-[24px] flex justify-center w-full">
                <div>
                <p class="flex gap-[8px] mb-[12px] text-white uppercase sfMono text-[14px] justify-center">
                    <span class="redDot"></span><span>live</span>
                </p>
                <p class="text-white text-[12px] sfMono">612 watching</p>
                </div>
            </div>
            <div class="md:hidden px-[10px] pb-[20px]">
                <div class="mb-[12px]">
                    {% comment %}HERE SHOULD BE THE LIVE CHAT{% endcomment %}
                    <p class="mb-[12px] text-[14px] sfMono text-white">👤 Bidder 1032 writes: <span class="font-bold">Lorem ipsum dolor sit amet?</span></p>
                    <p class="mb-[12px] text-[14px] sfMono text-white">🚀 Bidder 1206 raised to $590</p>
                    <p class="mb-[12px] text-[14px] sfMono text-white">📦 Untitled Edition is on it's way to United Kingdom</p>
                    <p class="mb-[12px] text-[14px] sfMono text-white">👋 Bidder 0357 joins the live stream</p>
                    {% comment %}UNTIL HERE{% endcomment %}
                </div>
                <div class="flex mb-[12px]">
                    <img src="{{ product.featured_image | image_url }}" width="" height="" class="w-[60px] h-[60px]"/>
                    <div class="bg-white px-[8px] py-[6px] flex flex-col justify-between">
                        <div class="flex gap-[5px] items-center">
                            <h2 class="text-[20px] neueSwift uppercase">{{ product.title }}</h2> 
                            <div class="h-[21px]">
                                <p class="opacity-[0.7] text-[14px] sfMono">{% if show-bid == true %}{{ 100 | money_without_trailing_zeros }}{% else %}{{ original | money_without_trailing_zeros }}{% endif %}</p> 
                                <p class="uppercase text-[6px] sfMono text-[#9d9d9d]">{% if show-bid == true %}current bid{% else %}original{% endif %}</p>
                            </div>
                        </div> 
                        <p class="flex gap-[8px]"><span class="relative"><span class="redDot absolute animate-ping"></span><span class="redDot"></span></span><span>Closes in </span><span id="countdownTimerCollection" class="h-[12px] ">{{ close_date }}</span></p>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-[12px] mb-[12px]">
                    <a class="bg-white w-full text-[14px] sfMono text-center border-solid border-[1px] pt-[10px] border-black" href="#addToCartButton">Edition from {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}<br/><span class="text-[#9d9d9d] text-[8px]">Limited edition of {{ totalProductsQuantity }}</span></a>
                    <a class="bg-black text-white py-[10px] w-full sfMono text-[14px] border-[1px] border-solid text-center items-center flex justify-center border-black " href="{% if show-bid == true %}#bid-form{% else %}#original-product-price{% endif %}">{% if show-bid == true %}Place a Bid{% else %}Buy Original{% endif %}</a>
                </div>
                <div class="relative">
                    {% comment %}HERE SHOULD BE THE LIVE CHAT FORM{% endcomment %}
                    <input type="text" placeholder="Write a message" class="w-full px-[12px] py-[6px] z-1 border-solid h-[44px] border-[1px]">
                    <button class="absolute right-[12px] bottom-[6px] bg-black h-[32px] w-[32px] z-10 flex justify-center py-[8px]">{% render 'icon-send' %}</button>
                    {% comment %}UNTIL HERE{% endcomment %}
                </div>
            </div>
            <div class="hidden md:block px-[14px] pb-[24px] max-w-[350px] right-[14px] absolute bottom-[14px]">
                <div class="mb-[16px]">
                    {% comment %}HERE SHOULD BE THE LIVE CHAT ALSO{% endcomment %}
                    <p class="mb-[12px] text-[14px] sfMono text-white">👤 Bidder 1032 writes: <span class="font-bold">Lorem ipsum dolor sit amet?</span></p>
                    <p class="mb-[12px] text-[14px] sfMono text-white">🚀 Bidder 1206 raised to $590</p>
                    <p class="mb-[12px] text-[14px] sfMono text-white">📦 Untitled Edition is on it's way to United Kingdom</p>
                    <p class="mb-[12px] text-[14px] sfMono text-white">👋 Bidder 0357 joins the live stream</p>
                    {% comment %}UNTIL HERE{% endcomment %}
                </div>
                <div class="bg-white p-[12px]">
                    <div>
                        {% if current_date != blank or show_bid == false %}
                            {% if close_timer > current_date %} 
                                <p class="px-[12px] py-[8px] sfMono flex gap-[8px] mb-[10px] items-center">
                                    {% if show-bid == true %}
                                    <span class="relative"><span class="redDot absolute animate-ping"></span><span class="redDot"></span></span><span class="h-[12px]">Closes in </span><span id="countdownTimerCollection" class="h-[12px] ">{{ close_date }}</span>
                                    {% else %}
                                    Available
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div>
                        {% if show-bid == true %}
                            {% render 'product-custom-bid' %}
                        {% else %}
                            <div class="flex mb-[12px]">
                                <div>
                                    <img src="{{ product.featured_image | image_url }}" width="" height="" class="w-[60px] h-[60px]"/>
                                </div>
                                <div class="bg-white px-[8px] py-[6px] flex flex-col justify-between">
                                    <div class="items-center">
                                        <h2 class="text-[20px] neueSwift uppercase">{{ product.title }}</h2> 
                                        <div class="h-[21px]">
                                            <p>by <span class="uppercase">{{ product.vendor }}</span></p>
                                        </div>
                                        <a class="bg-black text-white py-[10px] w-full sfMono text-[14px] border-[1px] border-solid text-center items-center flex justify-center border-black " href="{% if show-bid == true %}#bid-form{% else %}#original-product-price{% endif %}">{% if show-bid == true %}Place a Bid{% else %}Buy Original{% endif %}</a>
                                    </div> 
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="relative">
                    {% comment %}HERE SHOULD GO THE LIVE CHAT FORM ALSO{% endcomment %}
                    <input type="text" placeholder="Write a message" class="w-full px-[12px] py-[6px] z-1 border-solid h-[44px] border-[1px]">
                    <button class="absolute right-[12px] bottom-[6px] bg-black h-[32px] w-[32px] z-10 flex justify-center py-[8px]">{% render 'icon-send' %}</button>
                    {% comment %}UNTIL HERE{% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}BE CAREFULL WITH SOME ITEMS IN BETWEEN IT SHOULDN'T BE DELETED{% endcomment %}