{%- assign form_id = 'Contact-' | append: section_id -%}
<section
  class="border-b-gridline border-gridline-color bg-scheme-background py-section-vertical-spacing text-scheme-text"
  data-color-scheme="{{ section_color }}"
>
  <div class="lg:w-1/2 m-auto">
    <div class="{{ text_size_class }}{% if text_size_class contains 'xl' %} lg:w-1/2{% endif %}">
      {% if section_title != blank %}
        <h2 class="font-heading text-[24px] lg:text-[32px] text-center" for="Email">
          {{ section_title | escape }}
        </h2>
      {% endif %}

      {% if subheading != blank %}
        <div class="[&_a[href]]:underline [&_a[href]]:hover:text-scheme-accent{% if section_title != blank %} mt-2{% endif %} text-center sfMono text-[14px]">
          {{ subheading }}
        </div>
      {% endif %}
    </div>

    <div class="mt-theme-half lg:mt-0{% if text_size_class contains 'xl' %} lg:w-1/2{% endif %}">
      {% form 'customer', id: form_id %}
        {% if form.errors and template.suffix != 'contact' %}
          {{ form.errors | default_errors }}
        {% endif %}

        {% if form.posted_successfully? %}
          <p class="lg:ml-theme-half">
            {{ 'general.newsletter_form.confirmation' | t }}
          </p>
        {% else %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="items-end lg:flex gap-[15px]">
            <label class="sr-only" for="Email-{{ section.id }}">
              {{- 'general.newsletter_form.email_placeholder' | t -}}
            </label>
            <input
              type="email"
              class="bg-[#fff] border border-[#e5e7eb] px-[20px] py-[11.2px] w-full"
              name="contact[email]"
              id="Email-{{ section.id }}"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              autocorrect="off"
              autocapitalize="off"
            >
            <button
              class="bg-black px-[30px] py-[15px] sfMono text-[#fff]"
              type="submit"
              name="commit"
              id="Subscribe"
            >
              {{- 'general.newsletter_form.submit' | t -}}
            </button>
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
</section>
