{%- liquid
    assign id = section.id | append: '-' | append: video.id
    assign media_class = 'absolute inset-0 w-full h-full object-cover object-center'
  
    if ratio != 'natural'
      assign ratio_percentage = 1 | divided_by: ratio | times: 100
    else
      assign ratio_percentage = 1 | divided_by: video.aspect_ratio | times: 100
    endif
  
    if video == blank and ratio == 'natural'
      assign ratio_percentage = 56.25
    endif
  
    assign container_class = 'group relative pb-[var(--ratio-percent)]'
  
    if fill
      if fill_only_on_desktop
        assign container_class = 'group relative pb-[var(--ratio-percent)] lg:pb-0 lg:absolute lg:inset-0'
      else
        assign container_class = 'absolute inset-0'
      endif
    endif
  -%}
<div>
  <div
    class="{{ container_class }}"
    style="--ratio-percent: {{ ratio_percentage }}%;"
  >
    {%- case mode -%}
      {%- when 'autoplay' -%}
        <div
          id="{{ id }}"
          class="absolute inset-0 h-full w-full"
          x-data="Video('{{ mode | strip }}')"
          x-intersect:enter.half="play(true)"
          x-intersect:leave.half="pause"
        >
          <div
            class="html-video-wrapper"
            x-data="HTMLVideo"
            @play="play"
            @pause="pause"
          >
            {%- if video != blank -%}
              {{
                video
                | video_tag:
                  autoplay: false,
                  image_size: '2048x',
                  loop: true,
                  controls: false,
                  preload: 'none',
                  class: media_class,
                  muted: true,
                  id: player_id,
                  x-ref: 'video'
              }}
            {%- else -%}
              <video controls class="{{ media_class }}">
                <source
                  src="{{ 'placeholder-video.mp4' | asset_url }}"
                  type="video/mp4"
                >
                Your browser does not support the video tag.
              </video>
            {%- endif -%}
          </div>
        </div>
      {%- when 'preview' -%}
        <div
          id="{{ id }}"
          class="absolute h-full w-full"
          x-data="Video({{ playback | json }})"
          x-intersect:leave="pause"
        >
          <div
            class="relative h-full w-full"
          >
            <template x-if="!enabled">
              <button
                @click="enable"
                class="group/button absolute inset-0 h-full w-full"
                type="button"
                aria-label="{{ 'media.play_video' | t }}"
              >
                <span
                  class="absolute left-[40%] top-[33%] lg:left-[45%] lg:top-[40%] z-20 flex items-center justify-center"
                >
                    {%- render 'icon-play' -%}
                </span>
                {%- if video != blank -%}
                  <img src="https://img.youtube.com/vi/{{ video.id }}/0.jpg" height="100" width="100" class="w-full h-full">
                {%- else -%}
                  {{
                    'image'
                    | placeholder_svg_tag: 'w-full h-full bg-scheme-placeholder-background text-scheme-placeholder-foreground fill-current'
                  }}
                {%- endif -%}
              </button>
            </template>
            <template x-if="enabled">
              <div
                class="html-video-wrapper {{ wrapper_class }} w-full h-full"
                x-data="HTMLVideo"
                @play="play"
                @pause="pause"
              >
                {%- if video != blank -%}
                  <iframe
                    src="https://www.youtube.com/embed/{{ video.id }}?enablejsapi=1&autoplay=1"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                    class="w-full h-full"
                  ></iframe>
                {%- else -%}
                  <video x-ref="video" controls class="{{ media_class }}">
                    <source
                      src="{{ 'placeholder-video.mp4' | asset_url }}"
                      type="video/mp4"
                    >
                    Your browser does not support the video tag.
                  </video>
                {%- endif -%}
              </div>
            </template>
          </div>
        </div>
    {%- endcase -%}
  </div>
  <div class="mt-[16px] flex gap-4">
    <div>
        <img src="{{ avatar | file_img_url }}" width="100" height="100" alt="{{ avatar.alt }}" class="w-[40px] h-[40px]">
    </div>
    <div class="flex flex-col justify-between">
        <p class="sfMono text-[14px]">{{ name }}</p>
        <p class="sfMono text-[14px] text-[#9d9d9d]">{{ colaboration }}</p>
    </div>
  </div>
</div>
  
  