{%- liquid
    assign section_color = section.settings.color_scheme
    assign hide_on_mobile = section.settings.hide_on_mobile
    assign display = section.settings.display
    assign text = section.settings.text
    assign link = section.settings.link
  -%}
  
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}
    {%- if display == 'static' -%}
      <section
        id="{{ section.id }}"
        class="border-b-gridline border-gridline-color bg-scheme-background py-2 text-center text-scheme-text{% if hide_on_mobile %} hidden lg:block{% endif %}"
        role="complementary"
        data-color-scheme="{{ section_color }}"
      >
        {%- if link != blank -%}
          <a
            class="px-section-horizontal-spacing hover:text-scheme-accent"
            href="{{ link }}"
          >
            {{ text | escape }}
          </a>
        {%- else -%}
          <p class="px-section-horizontal-spacing">{{ text | escape }}</p>
        {%- endif -%}
      </section>
    {%- else -%}
      <section
        id="{{ section.id }}"
        class="border-b-gridline border-gridline-color bg-scheme-background text-scheme-text{% if hide_on_mobile %} hidden lg:block{% endif %}"
        role="complementary"
        data-color-scheme="{{ section_color }}"
      >
        {%- liquid
          assign direction = section.settings.direction
          assign separator = section.settings.separator
          assign separator_repeats = section.settings.separator_repeats
          assign spacing_between_repeated_separators = section.settings.spacing_between_repeated_separators
  
          render 'scrolling-text', id: section.id, link: link, text: text, section_color: section_color, direction: direction, separator: separator, separator_repeats: separator_repeats, spacing_between_repeated_separators: spacing_between_repeated_separators
        -%}
      </section>
    {%- endif -%}
  {%- endif -%}
  
  {% schema %}
  {
    "name": "Streaming Announcement",
    "settings": [
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "hide_on_mobile",
        "label": "Hide on mobile",
        "default": false
      },
      {
        "type": "select",
        "id": "display",
        "label": "Display",
        "options": [
          {
            "value": "scrolling-text",
            "label": "Scrolling text"
          },
          {
            "value": "static",
            "label": "Static"
          }
        ],
        "default": "scrolling-text"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme1",
        "label": "Color scheme"
      }
    ],
    "presets": [
      {
        "name": "Streaming Announcement"
      }
    ],
    "enabled_on": {
      "groups": [
        "header"
      ]
    }
  }
  {% endschema %}
  