{% liquid
    assign section_color = section.settings.section_color
    assign pagination = section.settings.pagination
    assign collection = section.settings.collection
 %}
<section id="upcoming-streaming-{{ section.id }}" data-color-scheme="{{ section_color }}">
    <div
    x-data="
        Theme_Slideshow({
        autoplay: false,
        autoplayInterval: false,
        mode: 'carousel',
        gap: '20px',
        onlyIfNeeded: true,
        loop: true, 
        })
    "
    class="splide no-pagination-needed relative">
    {% if section.settings.title != '' %} 
        {%- render 'section-title',
        title: section.settings.title,
        section_color: section_color 
        -%}
    {% endif %}
        <div class="splide__track bg-gridline-color [.splide:not(.is-active)_&]:invisible no-js:[.splide:not(.is-active)_&]:visible">
            <ul class="splide__list no-js:gap-gridline no-js:overflow-x-auto [.splide:not(.is-active)_&]:!flex [.splide:not(.is-active)_&]:gap-gridline">
                {% for product in collection.products %}
                    {% liquid
                        assign video = product.metafields.custom.livestreaming.video
                        assign avatar = product.metafields.custom.artist.photo
                        assign name = product.metafields.custom.artist.name
                        assign colaboration = product.metafields.custom.artist.number_of_contributions
                     %}
                     <li
                        class="splide__slide w-[90%] lg:w-[40%] cursor-pointer" 
                    >
                      {%- liquid
                        assign id = section.id | append: '-' | append: video.id
                        assign media_class = 'absolute inset-0 w-full h-full object-cover object-center'
                      
                        if ratio != 'natural'
                          assign ratio_percentage = 1 | divided_by: ratio | times: 100
                        else
                          assign ratio_percentage = 1 | divided_by: video.aspect_ratio | times: 100
                        endif
                      
                        if video == blank and ratio == 'natural'
                          assign ratio_percentage = 56.25
                        endif
                      
                        assign container_class = 'group relative pb-[var(--ratio-percent)]'
                      
                        if fill
                          if fill_only_on_desktop
                            assign container_class = 'group relative pb-[var(--ratio-percent)] lg:pb-0 lg:absolute lg:inset-0'
                          else
                            assign container_class = 'absolute inset-0'
                          endif
                        endif
                      -%}
                    <div>
                      <div
                        class="{{ container_class }}"
                        style="--ratio-percent: {{ ratio_percentage }}%;"
                      >
                        {%- case mode -%}
                          {%- when 'autoplay' -%}
                            <div
                              id="{{ id }}"
                              class="absolute inset-0 h-full w-full"
                              x-data="Video('{{ mode | strip }}')"
                              x-intersect:enter.half="play(true)"
                              x-intersect:leave.half="pause"
                            >
                              <div
                                class="html-video-wrapper"
                                x-data="HTMLVideo"
                                @play="play"
                                @pause="pause"
                              >
                                {%- if video != blank -%}
                                  {{
                                    video
                                    | video_tag:
                                      autoplay: false,
                                      image_size: '2048x',
                                      loop: true,
                                      controls: false,
                                      preload: 'none',
                                      class: media_class,
                                      muted: true,
                                      id: player_id,
                                      x-ref: 'video'
                                  }}
                                {%- else -%}
                                  <video controls class="{{ media_class }}">
                                    <source
                                      src="{{ 'placeholder-video.mp4' | asset_url }}"
                                      type="video/mp4"
                                    >
                                    Your browser does not support the video tag.
                                  </video>
                                {%- endif -%}
                              </div>
                            </div>
                          {%- when 'preview' -%}
                            <div
                              id="{{ id }}"
                              class="absolute h-full w-full"
                              x-data="Video({{ playback | json }})"
                              x-intersect:leave="pause"
                            >
                              <div
                                class="relative h-full w-full"
                              >
                                <template x-if="!enabled">
                                  <button
                                    @click="enable"
                                    class="group/button absolute inset-0 h-full w-full"
                                    type="button"
                                    aria-label="{{ 'media.play_video' | t }}"
                                  >
                                    <span
                                      class="absolute left-[40%] top-[33%] lg:left-[45%] lg:top-[40%] z-20 flex items-center justify-center"
                                    >
                                        {%- render 'icon-play' -%}
                                    </span>
                                    {%- if video != blank -%}
                                      <img src="https://img.youtube.com/vi/{{ video.id }}/0.jpg" height="100" width="100" class="w-full h-full">
                                    {%- else -%}
                                      {{
                                        'image'
                                        | placeholder_svg_tag: 'w-full h-full bg-scheme-placeholder-background text-scheme-placeholder-foreground fill-current'
                                      }}
                                    {%- endif -%}
                                  </button>
                                </template>
                                <template x-if="enabled">
                                  <div
                                    class="html-video-wrapper {{ wrapper_class }} w-full h-full"
                                    x-data="HTMLVideo"
                                    @play="play"
                                    @pause="pause"
                                  >
                                    {%- if video != blank -%}
                                      <iframe
                                        src="https://www.youtube.com/embed/{{ video.id }}?enablejsapi=1&autoplay=1"
                                        allow="autoplay; encrypted-media"
                                        allowfullscreen
                                        class="w-full h-full"
                                      ></iframe>
                                    {%- else -%}
                                      <video x-ref="video" controls class="{{ media_class }}">
                                        <source
                                          src="{{ 'placeholder-video.mp4' | asset_url }}"
                                          type="video/mp4"
                                        >
                                        Your browser does not support the video tag.
                                      </video>
                                    {%- endif -%}
                                  </div>
                                </template>
                              </div>
                            </div>
                        {%- endcase -%}
                      </div>
                      <div class="mt-[16px] flex gap-4">
                        <div>
                            <img src="{{ avatar | image_url }}" width="100" height="100" alt="{{ avatar.alt }}" class="w-[40px] h-[40px]">
                        </div>
                        <div class="flex flex-col justify-between">
                            <p class="sfMono text-[14px]">{{ name }}</p>
                            <p class="sfMono text-[14px] text-[#9d9d9d]">{{ colaboration }}</p>
                        </div>
                      </div>
                    </div>
                      
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if section.blocks.size > 1 %}
          <div
            class="absolute grid-cols-[minmax(0,_1fr)_auto] hidden lg:block lg:mx-4 mx-1 no-js:hidden right-0 top-[86px] {% if pagination %}grid{% endif %}"
            {% if pagination %}
            x-data="
              {
                paginationIsWrapped: false,
                checkIfWrapped() {
                  this.paginationIsWrapped = hasWrappedChildren(this.$refs.pagination)
                }
              }
            "
            x-init="checkIfWrapped"
            @resize.window.debounce.250="checkIfWrapped"
            {% endif %}
          >
            {% if pagination %}
              <ul x-ref="pagination" class="splide__pagination"></ul>
            {% endif %}
            <div
              class="flex  splide__arrows col-end-last items-center {% if pagination %}justify-end{% else %}justify-center{% endif %} gap-[12px] text-scheme-text"
              {% if pagination %}:class="{ 'items-start pt-0.5' : paginationIsWrapped, 'items-center' : !paginationIsWrapped }"{% endif %}
            >
              <button class="splide__arrow splide__arrow--prev">
                <span class="sr-only">
                  {{- 'sections.slideshow.previous_slide' | t -}}
                </span>
                <span class="block">
                  {% render 'icon-arrow-left' %}
                </span>
              </button>
              <button class="splide__arrow splide__arrow--next">
                <span class="sr-only">
                  {{- 'sections.slideshow.next_slide' | t -}}
                </span>
                <span class="block">
                  {% render 'icon-arrow-right' %}
                </span>
              </button>
            </div>
          </div>
        {% endif %}
    </div>
    <div class="flex justify-center mt-[20px] lg:mt-[40px]">
      <a class="text-white menlo px-[40px] py-[15px] bg-black lg:w-fit w-full text-center cursor-pointer" src="#">View all</a>
    </div>
</section>
{% style %}
  {% if pagination != true %}
    .no-pagination-needed .splide__pagination{
      display:none;
    }
  {% endif %}
{% endstyle %}
{% unless request.design_mode %}
  <script src="{{ 'video.js' | asset_url }}" type="module"></script>
  <script src="{{ 'html-video.js' | asset_url }}" type="module"></script>
{% endunless %}

{% schema %}
{
    "name": "Past Life Streaming",
    "disabled_on": {
        "groups": [
            "header",
            "footer",
            "aside"
        ]
    },
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section Title",
            "default": "Past Life Streaming"
        },
        {
            "type": "checkbox",
            "id": "pagination",
            "label": "Show Pagination",
            "default": false
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "scheme1",
            "label": "Color scheme"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Past Streamings Collection"
        }
    ],
    "blocks": [
        {
            "type": "pastVideos",
            "name": "Past Videos",
            "settings": [
              {
                "type": "header",
                "content": "Video"
              },
              {
                "id": "video",
                "type": "video_url",
                "label": "Video",
                "info": "If set, will be used instead of the embedded video option. Offers improved performance.",
                "accept": ["youtube"]
              },
              {
                "type": "select",
                "id": "mode",
                "label": "Mode",
                "options": [
                  {
                    "value": "preview",
                    "label": "Preview"
                  },
                  {
                    "value": "autoplay",
                    "label": "Autoplay"
                  }
                ],
                "default": "preview",
                "info": "Autoplay will not play sound or show controls."
              },
              {
                "type": "select",
                "id": "aspect_ratio",
                "label": "Aspect ratio",
                "default": "1.778",
                "options": [
                  {
                    "value": "natural",
                    "label": "Natural"
                  },
                  {
                    "value": "1",
                    "label": "Square (1:1)"
                  },
                  {
                    "value": "1.333",
                    "label": "Landscape (4:3)"
                  },
                  {
                    "value": "0.6667",
                    "label": "Portrait (2:3)"
                  },
                  {
                    "value": "1.778",
                    "label": "Widescreen (16:9)"
                  }
                ]
              },
              {
                "type": "image_picker",
                "id": "avatar",
                "label": "Avatar Image"
              },
              {
                "type": "text",
                "id": "name",
                "label": "Colaborator Name"
              },
              {
                "type": "text",
                "id": "colaboration",
                "label": "Colaboration Amount"
              }
            ]
        }
    ],
    "presets": [
        {
            "name": "Past Life Streaming",
            "blocks": [
                {
                    "type": "pastVideos"
                },
                {
                    "type": "pastVideos"
                },
                {
                    "type": "pastVideos"
                }
            ]
        }
    ]
}
{% endschema %}